html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.MuiButton-containedSecondary{
  background-color:#4169e1 !important;
}

.MuiAppBar-colorPrimary{
  background-color: #4169e1 !important;
}

.MuiTypography-colorPrimary{
  color: #4169e1 !important;
}

.MuiTypography-colorSecondary{
  color: #f2f6fa !important;
}

.brand{
  color: #f2f6fa;
}